/*---------------------
  Categories
-----------------------*/
.categories__item {
  height: 270px !important;
  position: relative !important;

  h5 {
    position: absolute !important;
    left: 0 !important;
    width: 100% !important;
    padding: 0 20px !important;
    bottom: 20px !important;
    text-align: center !important;

    a {
      font-size: 18px !important;
      color: $normal-color !important;
      font-weight: 700 !important;
      text-transform: uppercase !important;
      letter-spacing: 2px !important;
      padding: 12px 0 10px !important;
      background: $white-color !important;
      display: block !important;
    }
  }
}

.categories__slider {
  .col-lg-3 {
    max-width: 100% !important;
  }

  &.owl-carousel {
    .owl-nav {
      button {
        font-size: 18px !important;
        color: $normal-color !important;
        height: 70px !important;
        width: 30px !important;
        line-height: 70px !important;
        text-align: center !important;
        border: 1px solid $border !important;
        position: absolute !important;
        left: -35px !important;
        top: 50% !important;
        -webkit-transform: translateY(-35px) !important;
        background: $white-color !important;

        &.owl-next {
          left: auto !important;
          right: -35px !important;
        }
      }
    }
  }
}

/*---------------------
  Featured
-----------------------*/
.featured {
  padding-top: 80px !important;
  padding-bottom: 40px !important;
}

.featured__controls {
  text-align: center !important;
  margin-bottom: 50px !important;

  ul {
    li {
      list-style: none !important;
      font-size: 18px !important;
      color: $normal-color !important;
      display: inline-block !important;
      margin-right: 25px !important;
      position: relative !important;
      cursor: pointer !important;

      &.active {
        &:after {
          opacity: 1 !important;
        }
      }

      &:after {
        position: absolute !important;
        left: 0 !important;
        bottom: -2px !important;
        width: 100% !important;
        height: 2px !important;
        background: $primary-color !important;
        content: "" !important;
        opacity: 0 !important;
      }

      &:last-child {
        margin-right: 0 !important;
      }
    }
  }
}

.featured__item {
  margin-bottom: 50px !important;

  &:hover {
    .featured__item__pic {
      .featured__item__pic__hover {
        bottom: 20px !important;
      }
    }
  }
}

.featured__item__pic {
  height: 270px !important;
  position: relative !important;
  overflow: hidden !important;
  background-position: center center !important;
}

.featured__item__pic__hover {
  position: absolute !important;
  left: 0 !important;
  bottom: -50px !important;
  width: 100% !important;
  text-align: center !important;
  @include transition(all, 0.5s);

  li {
    list-style: none !important;
    display: inline-block !important;
    margin-right: 6px !important;

    &:last-child {
      margin-right: 0 !important;
    }

    &:hover {
      a {
        background: $primary-color !important;
        border-color: $primary-color !important;

        i {
          color: $white-color !important;
          transform: rotate(360deg) !important;
        }
      }
    }

    a {
      font-size: 16px !important;
      color: $normal-color !important;
      height: 40px !important;
      width: 40px !important;
      line-height: 40px !important;
      text-align: center !important;
      border: 1px solid $border !important;
      background: $white-color !important;
      display: block !important;
      border-radius: 50% !important;
      @include transition(all, 0.5s);

      i {
        position: relative !important;
        transform: rotate(0) !important;
        @include transition(all, 0.3s);
      }
    }
  }
}

.featured__item__text {
  text-align: center !important;
  padding-top: 15px !important;

  h6 {
    margin-bottom: 10px !important;

    a {
      color: $heading-color-2 !important;
    }
  }

  h5 {
    color: $heading-color-2 !important;
    font-weight: 700 !important;
  }
}

/*---------------------
  Latest Product
-----------------------*/
.latest-product {
  padding-top: 80px !important;
  padding-bottom: 0 !important;
}

.latest-product__text {
  h4 {
    font-weight: 700 !important;
    color: $normal-color !important;
    margin-bottom: 45px !important;
  }
}

.latest-product__slider {
  &.owl-carousel {
    .owl-nav {
      position: absolute !important;
      right: 20px !important;
      top: -75px !important;

      button {
        height: 30px !important;
        width: 30px !important;
        background: #f3f6fa !important;
        border: 1px solid #e6e6e6 !important;
        font-size: 14px !important;
        color: #636363 !important;
        margin-right: 10px !important;
        line-height: 30px !important;
        text-align: center !important;

        span {
          font-weight: 700 !important;
        }

        &:last-child {
          margin-right: 0 !important;
        }
      }
    }
  }
}

.latest-product__item {
  margin-bottom: 20px !important;
  overflow: hidden !important;
  display: block !important;
}

.latest-product__item__pic {
  float: left !important;
  margin-right: 26px !important;

  img {
    height: 110px !important;
    width: 110px !important;
  }
}

.latest-product__item__text {
  overflow: hidden !important;
  padding-top: 10px !important;

  h6 {
    color: $heading-color-2 !important;
    margin-bottom: 8px !important;
  }

  span {
    font-size: 18px !important;
    display: block !important;
    color: $heading-color-2 !important;
    font-weight: 700 !important;
  }
}

/*---------------------
  Form BLog
-----------------------*/
.from-blog {
  padding-top: 50px !important;
  padding-bottom: 50px !important;

  .blog__item {
    margin-bottom: 30px !important;
  }
}

.from-blog__title {
  margin-bottom: 70px !important;
}
