/*---------------------
  Shop Grid
-----------------------*/
.product {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.product__discount {
  padding-bottom: 50px !important;
}

.product__discount__title {
  text-align: left !important;
  margin-bottom: 65px !important;

  h2 {
    display: inline-block !important;

    &:after {
      margin: 0 !important;
      width: 100% !important;
    }
  }
}

.product__discount__item {
  &:hover {
    .product__discount__item__pic {
      .product__item__pic__hover {
        bottom: 20px !important;
      }
    }
  }
}

.product__discount__item__pic {
  height: 270px !important;
  position: relative !important;
  overflow: hidden !important;

  .product__discount__percent {
    height: 45px !important;
    width: 45px !important;
    background: #dd2222 !important;
    border-radius: 50% !important;
    font-size: 14px !important;
    color: $white-color !important;
    line-height: 45px !important;
    text-align: center !important;
    position: absolute !important;
    left: 15px !important;
    top: 15px !important;
  }
}

.product__item__pic__hover {
  position: absolute !important;
  left: 0 !important;
  bottom: -50px !important;
  width: 100% !important;
  text-align: center !important;
  @include transition(all, 0.5s);

  li {
    list-style: none !important;
    display: inline-block !important;
    margin-right: 6px !important;

    &:last-child {
      margin-right: 0 !important;
    }

    &:hover {
      a {
        background: $primary-color !important;
        border-color: $primary-color !important;

        i {
          color: $white-color !important;
          transform: rotate(360deg) !important;
        }
      }
    }

    a {
      font-size: 16px !important;
      color: $normal-color !important;
      height: 40px !important;
      width: 40px !important;
      line-height: 40px !important;
      text-align: center !important;
      border: 1px solid $border !important;
      background: $white-color !important;
      display: block !important;
      border-radius: 50% !important;
      @include transition(all, 0.5s);

      i {
        position: relative !important;
        transform: rotate(0) !important;
        @include transition(all, 0.3s);
      }
    }
  }
}

.product__discount__item__text {
  text-align: center !important;
  padding-top: 20px !important;

  span {
    font-size: 14px !important;
    color: #b2b2b2 !important;
    display: block !important;
    margin-bottom: 4px !important;
  }

  h5 {
    margin-bottom: 6px !important;

    a {
      color: $normal-color !important;
    }
  }

  .product__item__price {
    font-size: 18px !important;
    color: $normal-color !important;
    font-weight: 700 !important;

    span {
      display: inline-block !important;
      font-weight: 400 !important;
      text-decoration: line-through !important;
      margin-left: 10px !important;
    }
  }
}

.product__discount__slider {
  .col-lg-4 {
    max-width: 100% !important;
  }

  &.owl-carousel {
    .owl-dots {
      text-align: center !important;
      margin-top: 30px !important;

      button {
        height: 12px !important;
        width: 12px !important;
        border: 1px solid #b2b2b2 !important;
        border-radius: 50% !important;
        margin-right: 12px !important;

        &.active {
          background: #707070 !important;
          border-color: $para-color !important;
        }

        &:last-child {
          margin-right: 0 !important;
        }
      }
    }
  }
}

.filter__item {
  padding-top: 45px !important;
  border-top: 1px solid $border !important;
  padding-bottom: 20px !important;
}

.filter__sort {
  margin-bottom: 15px !important;

  span {
    font-size: 16px !important;
    color: $para-color !important;
    display: inline-block !important;
  }

  .nice-select {
    background-color: #fff !important;
    border-radius: 0 !important;
    border: none !important;
    display: inline-block !important;
    float: none !important;
    height: 0 !important;
    line-height: 0 !important;
    padding-left: 18px !important;
    padding-right: 30px !important;
    font-size: 16px !important;
    color: $normal-color !important;
    font-weight: 700 !important;
    cursor: pointer !important;

    span {
      color: $normal-color !important;
    }

    &:after {
      border-bottom: 1.5px solid #1c1c1c !important;
      border-right: 1.5px solid #1c1c1c !important;
      height: 8px !important;
      margin-top: 0 !important;
      right: 16px !important;
      width: 8px !important;
      top: -5px !important;
    }
  }

  .nice-select.open .list {
    opacity: 1 !important;
    pointer-events: auto !important;
    -webkit-transform: scale(1) translateY(0) !important;
    -ms-transform: scale(1) translateY(0) !important;
    transform: scale(1) translateY(0) !important;
  }

  .nice-select .list {
    border-radius: 0 !important;
    margin-top: 0 !important;
    top: 15px !important;
  }

  .nice-select .option {
    line-height: 30px !important;
    min-height: 30px !important;
  }
}

.filter__found {
  text-align: center !important;
  margin-bottom: 15px !important;

  h6 {
    font-size: 16px !important;
    color: #b2b2b2 !important;

    span {
      color: $normal-color !important;
      font-weight: 700 !important;
      margin-right: 5px !important;
    }
  }
}

.filter__option {
  text-align: right !important;
  margin-bottom: 15px !important;

  span {
    font-size: 24px !important;
    color: #b2b2b2 !important;
    margin-right: 10px !important;
    cursor: pointer !important;
    @include transition(all, 0.3s);

    &:last-child {
      margin: 0 !important;
    }

    &:hover {
      color: $primary-color !important;
    }
  }
}

.product__item {
  margin-bottom: 50px !important;

  &:hover {
    .product__item__pic {
      .product__item__pic__hover {
        bottom: 20px !important;
      }
    }
  }
}

.product__item__pic {
  height: 270px !important;
  position: relative !important;
  overflow: hidden !important;
}

.product__item__pic__hover {
  position: absolute !important;
  left: 0 !important;
  bottom: -50px !important;
  width: 100% !important;
  text-align: center !important;
  @include transition(all, 0.5s);

  li {
    list-style: none !important;
    display: inline-block !important;
    margin-right: 6px !important;

    &:last-child {
      margin-right: 0 !important;
    }

    &:hover {
      a {
        background: $primary-color !important;
        border-color: $primary-color !important;

        i {
          color: $white-color !important;
          transform: rotate(360deg) !important;
        }
      }
    }

    a {
      font-size: 16px !important;
      color: $normal-color !important;
      height: 40px !important;
      width: 40px !important;
      line-height: 40px !important;
      text-align: center !important;
      border: 1px solid $border !important;
      background: $white-color !important;
      display: block !important;
      border-radius: 50% !important;
      @include transition(all, 0.5s);

      i {
        position: relative !important;
        transform: rotate(0) !important;
        @include transition(all, 0.3s);
      }
    }
  }
}

.product__item__text {
  text-align: center !important;
  padding-top: 15px !important;

  h6 {
    margin-bottom: 10px !important;

    a {
      color: $heading-color-2 !important;
    }
  }

  h5 {
    color: $heading-color-2 !important;
    font-weight: 700 !important;
  }
}

.product__pagination {
  padding-top: 10px !important;

  a {
    display: inline-block !important;
    width: 30px !important;
    height: 30px !important;
    border: 1px solid #b2b2b2 !important;
    font-size: 14px !important;
    color: #b2b2b2 !important;
    font-weight: 700 !important;
    line-height: 28px !important;
    text-align: center !important;
    margin-right: 16px !important;
    @include transition(all, 0.3s);

    &:hover {
      background: $primary-color !important;
      border-color: $primary-color !important;
      color: $white-color !important;
    }

    &:last-child {
      margin-right: 0 !important;
    }
  }
}
