/*---------------------
  Shop Cart
-----------------------*/
.shoping-cart {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.shoping__cart__table {
  margin-bottom: 30px !important;

  table {
    width: 100% !important;
    text-align: center !important;

    thead {
      tr {
        border-bottom: 1px solid $border !important;
      }

      th {
        font-size: 20px !important;
        font-weight: 700 !important;
        color: $normal-color !important;
        padding-bottom: 20px !important;

        &.shoping__product {
          text-align: left !important;
        }
      }
    }

    tbody {
      tr {
        td {
          padding-top: 30px !important;
          padding-bottom: 30px !important;
          border-bottom: 1px solid $border !important;

          &.shoping__cart__item {
            width: 630px !important;
            text-align: left !important;

            img {
              display: inline-block !important;
              margin-right: 25px !important;
            }

            h5 {
              color: $normal-color !important;
              display: inline-block !important;
            }
          }

          &.shoping__cart__price {
            font-size: 18px !important;
            color: $normal-color !important;
            font-weight: 700 !important;
            width: 100px !important;
          }

          &.shoping__cart__total {
            font-size: 18px !important;
            color: $normal-color !important;
            font-weight: 700 !important;
            width: 110px !important;
          }

          &.shoping__cart__item__close {
            text-align: right !important;

            span {
              font-size: 24px !important;
              color: #b2b2b2 !important;
              cursor: pointer !important;
            }
          }

          &.shoping__cart__quantity {
            width: 225px !important;

            .pro-qty {
              width: 120px !important;
              height: 40px !important;

              input {
                color: $normal-color !important;

                &::placeholder {
                  color: $normal-color !important;
                }
              }

              .qtybtn {
                width: 15px !important;
              }
            }
          }
        }
      }
    }
  }
}

.primary-btn.cart-btn {
  color: $para-color !important;
  padding: 14px 30px 12px !important;
  background: $background !important;

  span {
    font-size: 14px !important;
  }

  &.cart-btn-right {
    float: right !important;
  }
}

.shoping__continue {
}

.shoping__discount {
  margin-top: 45px !important;

  h5 {
    font-size: 20px !important;
    color: $normal-color !important;
    font-weight: 700 !important;
    margin-bottom: 25px !important;
  }

  form {
    input {
      width: 255px !important;
      height: 46px !important;
      border: 1px solid #cccccc !important;
      font-size: 16px !important;
      color: #b2b2b2 !important;
      text-align: center !important;
      display: inline-block !important;
      margin-right: 15px !important;

      &::placeholder {
        color: #b2b2b2 !important;
      }
    }

    button {
      padding: 15px 30px 11px !important;
      font-size: 12px !important;
      letter-spacing: 4px !important;
      background: $para-color !important;
    }
  }
}

.shoping__checkout {
  background: $background !important;
  padding: 30px !important;
  padding-top: 20px !important;
  margin-top: 50px !important;

  h5 {
    color: $normal-color !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    margin-bottom: 28px !important;
  }

  ul {
    margin-bottom: 28px !important;

    li {
      font-size: 16px !important;
      color: $normal-color !important;
      font-weight: 700 !important;
      list-style: none !important;
      overflow: hidden !important;
      border-bottom: 1px solid $border !important;
      padding-bottom: 13px !important;
      margin-bottom: 18px !important;

      &:last-child {
        padding-bottom: 0 !important;
        border-bottom: none !important;
        margin-bottom: 0 !important;
      }

      span {
        font-size: 18px !important;
        color: #dd2222 !important;
        float: right !important;
      }
    }
  }

  .primary-btn {
    display: block !important;
    text-align: center !important;
  }
}
