.RegisterRow {
  background-image: url("./img/loginbackground.png");
  background-size: cover;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 3%;
}

.RegisterComponentColOne {
  padding: 10% 5%;
  border-radius: 20px;
}

.RegisterComponentColOne .textRegisterColOne {
  color: #f8ba00;
  font-size: xx-large;
  font-weight: bolder;
}

.RegisterComponentColTwo {
  padding: 5% 8%;
  border-radius: 20px;
}
