.nice-select {
  -webkit-tap-highlight-color: transparent !important;
  background-color: #fff !important;
  border-radius: 5px !important;
  border: solid 1px #e8e8e8 !important;
  box-sizing: border-box !important;
  clear: both !important;
  cursor: pointer !important;
  display: block !important;
  float: left !important;
  font-family: inherit !important;
  font-size: 14px !important;
  font-weight: normal !important;
  height: 42px !important;
  line-height: 40px !important;
  outline: none !important;
  padding-left: 18px !important;
  padding-right: 30px !important;
  position: relative !important;
  text-align: left !important ;
  -webkit-transition: all 0.2s ease-in-out !important;
  transition: all 0.2s ease-in-out !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  white-space: nowrap !important;
  width: auto !important;
}
.nice-select:hover {
  border-color: #dbdbdb !important;
}
.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: #999 !important;
}
.nice-select:after {
  border-bottom: 2px solid #999 !important;
  border-right: 2px solid #999 !important;
  content: "" !important;
  display: block !important;
  height: 5px !important;
  margin-top: -4px !important;
  pointer-events: none !important;
  position: absolute !important;
  right: 12px !important;
  top: 50% !important;
  -webkit-transform-origin: 66% 66% !important;
  -ms-transform-origin: 66% 66% !important;
  transform-origin: 66% 66% !important;
  -webkit-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important;
  -webkit-transition: all 0.15s ease-in-out !important;
  transition: all 0.15s ease-in-out !important;
  width: 5px !important;
}
.nice-select.open:after {
  -webkit-transform: rotate(-135deg) !important;
  -ms-transform: rotate(-135deg) !important;
  transform: rotate(-135deg) !important;
}
.nice-select.open .list {
  opacity: 1 !important;
  pointer-events: auto !important;
  -webkit-transform: scale(1) translateY(0) !important;
  -ms-transform: scale(1) translateY(0) !important;
  transform: scale(1) translateY(0) !important;
}
.nice-select.disabled {
  border-color: #ededed !important;
  color: #999 !important;
  pointer-events: none !important;
}
.nice-select.disabled:after {
  border-color: #cccccc !important;
}
.nice-select.wide {
  width: 100% !important;
}
.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}
.nice-select.right {
  float: right !important;
}
.nice-select.right .list {
  left: auto !important;
  right: 0 !important;
}
.nice-select.small {
  font-size: 12px !important;
  height: 36px !important;
  line-height: 34px !important;
}
.nice-select.small:after {
  height: 4px !important;
  width: 4px !important;
}
.nice-select.small .option {
  line-height: 34px !important;
  min-height: 34px !important;
}
.nice-select .list {
  background-color: #fff !important;
  border-radius: 5px !important;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11) !important;
  box-sizing: border-box !important;
  margin-top: 4px !important;
  opacity: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  pointer-events: none !important;
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  -webkit-transform-origin: 50% 0 !important;
  -ms-transform-origin: 50% 0 !important;
  transform-origin: 50% 0 !important;
  -webkit-transform: scale(0.75) translateY(-21px) !important;
  -ms-transform: scale(0.75) translateY(-21px) !important;
  transform: scale(0.75) translateY(-21px) !important;
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
    opacity 0.15s ease-out !important;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out !important;
  z-index: 9 !important;
}
.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important ;
}
.nice-select .option {
  cursor: pointer !important;
  font-weight: 400 !important;
  line-height: 40px !important;
  list-style: none !important;
  min-height: 40px !important;
  outline: none !important;
  padding-left: 18px !important;
  padding-right: 29px !important;
  text-align: left !important;
  -webkit-transition: all 0.2s !important;
  transition: all 0.2s !important;
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: #f6f6f6 !important;
}
.nice-select .option.selected {
  font-weight: bold !important;
}
.nice-select .option.disabled {
  background-color: transparent !important;
  color: #999 !important;
  cursor: default !important;
}

.no-csspointerevents .nice-select .list {
  display: none !important;
}

.no-csspointerevents .nice-select.open .list {
  display: block !important;
}
